<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />

<head>
    <h1> Formulario paciente: </h1>
</head>

<body>
    <form>

        <p>
            ¿Se dieron todos los cuidados?  Si <input type="checkbox"> No <input type="checkbox">
            <label for="cuidadosFaltantes"> Cuidados faltantes </label>
        
            <select id="cuidadosFaltantes" name="CuidadosFaltantes" multiple>  
                <option value="Cuidado 1"> Cuidado 1</option>
                <option value="Cuidado 2"> Cuidado 2</option>
                <option value="Cuidado 3"> Cuidado 3 </option>
            </select>

            <button type="submit" >  Agregar </button>
        </p> 

        <p>
            ¿Se administraron todos los medicamentos? Si <input type="checkbox"> No <input type="checkbox">
            <label for="medicamentosFaltantes"> Medicamentos faltantes </label>
        
            <select id="medicamentosFaltantes" name="MedicamentosFaltantes" multiple > 
                <option value="Medicamento 1"> Medicamento 1</option>
                <option value="Medicamento 2"> Medicamento 2 </option>
                <option value="Medicamento 3"> Medicamento 3 </option>
            </select>

            <button type="submit" >  Agregar </button>
        </p>

    </form>
        
    <form>
        <table>
            <tr>
                <td> Padecimiento 1 </td>
                <td> Mejoro <input type="checkbox"> </td>
                <td> igual <input type="checkbox"> </td>
                <td> Empeoro <input type="checkbox"> </td>
                <td> <button type="submit" > Aceptar </button> </td>
            </tr>
            <tr>
                <td> Padecimiento 2 </td>
                <td> Mejoro <input type="checkbox"> </td>
                <td> igual <input type="checkbox"> </td>
                <td> Empeoro <input type="checkbox"> </td>
                <td> <button type="submit" > Aceptar </button> </td>
            </tr>
            <tr>
                <td> Padecimiento 3</td>
                <td> Mejoro <input type="checkbox"> </td>
                <td> igual <input type="checkbox"> </td>
                <td> Empeoro <input type="checkbox"> </td>
                <td> <button type="submit" > Aceptar </button> </td>
            </tr>
        </table>
        
    </form>

    <form>
        <input type="text" id="comentarios" name="Comentarios" placeholder="Agregar comentarios...">
    </form>

    <button role="link" onclick="window.location='Pacientes enfermera.html'" type="submit"> Guardar </button>
</body>

</html>