<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />


<head>
    <h1> Tus pacientes </h1> 
</head>


<body>
    
    <table>
        <tr>
            <th> Nombre </th>
            <th> Camilla </th>
            <th> Area </th>
            <th> Cuidados </th>
            <th> Formulario </th>
            <th> Doctor </th>
        </tr>
        <tr>
            <td> Juan </td>
            <td> 40 </td>
            <td> Quemados </td>
            <td> <button role="link" onclick="window.location='Cuidados paciente.html'"> Ver </button> </td>
            <td> 
                <button role="link" onclick="window.location='Formulario paciente.html'"> Llenar </button> 
                <input type="checkbox" > 
            </td>
            <td> Alex </td>
        </tr>
    </table>

    <br><br><br><br>

    <button role="link" onclick="window,location='Inicio de sesion.html'"> Cerrar sesion </button>
</body>

</html>