<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />


<head>
    <h1> Historial pacientes </h1> 
</head>


<body>

    <table>
        <thead>
            <tr>
                <th> Nombre </th>
                <th> Enfermeria </th>
                <th> Doctor </th>
                <th> Diagnostico </th>
                <th> Evolucion </th>
                <th> Fecha de entrada</th>
                <th> Fecha de salida </th>
                <th> Numero de ingreso </th>
                <th> Historial clinico </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td> Juan </td>
                <td> Marta <br> Sol </td>
                <td> Alex </td>
                <td> <button> Ver </button> </td>
                <td> <button> Ver </button> </td>
                <td> 01/01/2024 </td>
                <td> 14/01/2024 </td>
                <td> 4 </td>
                <td> <button> Ver </button> </td>
            </tr>
        </tbody>
    </table>

    <br><br><br>
    <a href="{% url 'jefa:historiales_' %}"> Volver </a> 
</body>

</html>