<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />

<head> <h1> Cuidados paciente:  </h1> </head>

<body>
   <table>
       <tr>
           <th>Padecimientos</th>
           <th>Cuidados</th>
           <th>Medicamentos</th>
       </tr>
       
       <tr>
           <td>Medicamento 1</td>
           <td>Padecimiento 1</td>
           <td>Cuidado 1</td>
       </tr>
       
       <tr>
           <td>Medicamento 2</td>
           <td>Padecimiento 2</td>
           <td>Cuidado 2</td>
       </tr>
   </table>

   <br><br><br>

   <form action="{% url 'doctor:pacientes_doctor' %}" method="POST">
       {% csrf_token %}
       <button type="submit">Volver</button>
   </form>
</body>

</html>